body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
}

input, textarea, button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    background: #007BFF;
    color: white;
    border: none;
}

.complaint-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}